{% extends "admin_lte/base.html" %}

{% block content %}
<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">DataTable with minimal features & hover style</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>is publish</th>
            <th>Action</th>
           
          </tr>
          </thead>
          <tbody>

          {% for post  in posts %}
            <tr>
              <td>{{post.title}}</td>
              <td>
                {% if post.published_at %}

                <a href="" class="btn btn-primary disabled">published</a>.

                {% else %}
                <a href="{% url "news_admin:draft-publish" post.pk %}" class="btn btn-primary">publish</a>
                
                
                {% endif %}
              </td>
              <td>
                <a href="{% url 'news_admin:post-update' post.pk %}" class="btn btn-success">Update</a>
                
                {% if post.published_at %}

                <a href="{% url 'news_admin:post-details' post.pk %}" class="btn btn-primary">View</a>

                {% else %}
                <a href="{% url 'news_admin:draft-details' post.pk %}" class="btn btn-primary">View</a>
                
                
                {% endif %}
                <a href="{% url 'news_admin:post-delete' post.pk %}" class="btn btn-danger">Delete</a>
              </td>
              
            </tr>
          {% endfor %}
          
          </tbody>
          <tfoot>
          <tr>
            <th>Name</th>
            <th>is published</th>
            <th>Action</th>
           
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

{% endblock content %}


